@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: #0a0707;
    margin: 0;
    padding: 0;
    color: #CCCCCC;
    max-width: 100%;

}

nav {
    display: flex;
    padding: 2rem;
    justify-content: space-between;
}

nav img {
    width: 20px;
}

.lets {
    width: 8rem;
    position: absolute;
    right: 4rem;
    margin-top: -5rem;
}

.flyers img {
    width: 30rem;
    z-index: -1;
    margin-top: 0;
}

.home-body {height: 100v;
    padding: 2rem 5rem;
    background-image: url(/assets/Frame\ 7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background: rgb(39, 38, 28);
    background: linear-gradient(90deg, rgba(61, 57, 21, 1) 0%, rgba(62, 58, 21, 1) 0%, rgba(135, 130, 80, 1) 29%, */
    /* rgba(53, 50, 23, 1) 100%); */
}

.home {
    margin-bottom: -2.5rem;
    color: #D3D3D3;
    display: flex;align-items: center;
    justify-content: space-around;
}

.home p {
    font-weight: 600;
    padding-top: 2rem;
}

/* .home .image img {
    height: 80vh;
    /* margin-left: 10rem; 
} */

ul.link {
    list-style: none;
}

.singles {
    width: 7rem;
}

ul.link li img {
    width: 1.6rem;
}

ul {
    display: flex;
    justify-content: space-between;
}

.youtube {
    height: 50vh;
    align-items: center;
    text-align: center;
    justify-content: center;
    place-items: center;
    place-content: center;
}

.youtube img {
    border: 1.5px solid #D3D3D3;
    margin: 30px;
    padding: 30px;
    border-radius: 50%;
}

.about {
    display: flex;
    justify-content: center;
}

.projects {
    max-width: 100%;
}

.wrap {
    max-width: 100%;
    padding: 1rem 4rem;
}

.flex {
    display: flex;
    width: 90vw;
    justify-content: space-around;
}

.flex li img {
    scroll-behavior: smooth;
    width: 10rem;
}

.right {
    padding: 2rem;
    align-items: center;
    justify-content: center;
    place-items: center;
}

@media (max-width:768px) {

    .home-body {
        align-items: center;
        padding: 1rem;
        max-width: 100%;
        height: 100vh;
        font-size: 13px;
    }

    .kelvin {
        width: 200px;
    }

    .cx {
        width: 20%;
        height: 10%;
    }

    .home p {
        font-weight: 600;
        padding-top: 0rem;
    }

    nav {
        display: flex;
        padding: 1rem;
        justify-content: space-between;
    }

    .home {
        display: flex;
        flex-wrap: wrap;
    }

    .home {
        flex-wrap: wrap-reverse;
    }

    .flex {
        flex-wrap: wrap;
    }

    .wrap {
        padding: 1rem;
    }

    img {
        width: 100%;
    }

    .flyers img {
        width: 100%;
        position: relative;
        z-index: -1;
        margin-top: 0;
    }

    .right {
        padding: 0rem;

    }

    .flex li img {
        scroll-behavior: smooth;
        width: 100%;
    }

}