@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');

body {
    background: #0a0707;
    margin: 0;
    padding: 0;
    color: #CCCCCC;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    font-size: 15px;
}

.wrap {
    padding: 3rem;
}

.flex-items {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

ul {
    display: flex;
    justify-content: space-between;
}


.songs table {
    width: 100%;
}

.left,
.right {
    width: 50%;
    padding: 0 2rem;
}

.about,
.projects {
    width: 100%;
    overflow: hidden;
    margin: 2rem 0 0 0;

}

td img {
    width: 25px;
}

.work {
    margin: 2rem 0 0rem 0;
}

.flyers img {
    width: 15rem;
    height: 100%;
}

.frame {
    height: 500px;
    overflow: hidden;
    margin: 0 0 2rem;
}

.frame img {
    width: 100%;
    margin-top: -4rem;
}


.lets {
    width: 50%;
}

.bantu-vibe img {
    width: 6rem;
}

.vibe img {
    position: absolute;
    width: 6rem;
    margin-top: -3rem;
    right: 2rem;
}

/* Home designs with the cool bantu vibes */
.home .flex-items {
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
}

.home-body {
    height: 100vh;
    padding: 3rem;
    background-image: url(assets/Frame\ 7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.home .image img {
    width: 100%;
}

.link li {
    list-style: none;
}

.link a {
    width: 1.7rem;
}

.home .flex-items .right .cx img {
    width: 100%;
    margin-top: -20rem;
}

/* Projects done by the bantu vibes */
.flex-items li img {
    width: 100%;
}

.projects .flex-items {
    display: flex;
    flex-wrap: nowrap;
}

/* footer designs for the vibe */
footer a {
    color: #CCCCCC;
}

.flex-footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.footer-right .link img {
    width: 25px;
}

footer .flex-items .left a {
    text-decoration: none;
}

.flex-items .left table {
    width: 50%;
}footer p{text-align: center;}

/* landscape and portrait controlers */
@media (max-width:398px) {}

@media (max-width:698px) {}

@media (max-width:798px) {
    .home .flex-items .right .cx img {
        margin-top: 0rem;
    }

    .left,
    .right {
        width: 100%;
        padding: 0;
    }

    .flex-items {
        flex-wrap: wrap;
    }

    .wrap {
        padding: 1rem;
    }

    /* .kohen {
        display: none;
    } */

    .work,
    .about,
    .projects,
    .songs {
        height: 100%;
    }

    .flyers img {
        width: 10rem;
        height: 100%;
    }

    .frame img {
        width: 100%;
        margin-top: 0rem;
    }
}

@media (max-width:998px) {}